*{
	
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}



.UpperPart{
	display: flex;
	flex-direction: column;
}



.mainTitle{
	text-align: right;
	width: 250px;
	font-size: 60px;
	font-family: Alhurra;
	margin: 25px 60px 10px 0;
}

.mainTitle a{
	text-decoration: none;
	color: black;
}



.menu{
	float left;
	position: relative;
	left: 415px;
	background: #333;
	width: 500px;
	border-radius: 10px 0px;
}

.menu a{
	text-decoration: none;
	color: aliceblue;
	padding-top:15px;
	padding-bottom: 15px;
}


.menu > ul{/*direct child but class child will change all children with same type*/
	margin: 0 auto;
	padding: 0;
}

.menu ul li{
	display: block;
	float: right;
	position: relative;
}

.menu ul a{
	display: block;
	float: left;
	text-align: center;
	width: 100px;
}

.menu ul a:hover{
	background: #888;
	border-radius: 10px 0px;
}





/*Clearfix Class*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */